* {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: lightgray;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: darkgray;
}

.header {
  background-color: #95caff;
  height: 100px;
  padding: 0px 50px 0px 50px;
}
.header img#logo {
  width: 200px;
  height: 140px;
  position: relative;
  top: -20px;
}
div.cart-box {
  border: 1px solid lightgray;
  border-radius: 8px;
  padding: 10px;
}

h3.bag-head {
  text-align: center;
  letter-spacing: 8px;
  font-weight: bold;
  margin: 20px;
  color: #007bff;
}

div.item {
  display: flex;
  flex-wrap: wrap;
  margin: 6px;
  align-content: space-around;
}

div.item-img {
  display: inline-block;
  flex: 1;
}

div.item-details {
  display: inline-block;
  text-align: left;
  flex: 1;
}

div.item-coun {
  flex: 2;
}

div.item a {
  text-decoration: none;
}

div.item a.counter {
  cursor: pointer;
  padding: 1px;
  color: #067fff;
  font-weight: bold;
  font-size: 15px;
  text-decoration: none;
  box-shadow: -2px 2px 8px 0px rgb(0, 0, 0, 0.4);
  border-radius: 5px;
}

button#clear-btn {
  border: 1px solid red;
  color: red;
  letter-spacing: 1px;
  transition: 0.5s;
}

button#clear-btn:hover {
  background-color: red;
  font-weight: bold;
  color: white;
  letter-spacing: 3px;
}

span {
  font-weight: bold;
  font-size: 12px;
}

#cart {
  position: relative;
}

#addto {
  display: inline-block;
}

@media screen and (max-width: 630px) {
  .header img#logo {
    width: 180px;
    height: 130px;
    left: -20px;
  }
  div.buttons {
    margin: 10px;
    border: 1px solid rgb(194, 156, 156);
    display: inline-block;
    padding: 0px;
    border-radius: 8px;
  }
  div.item-img {
    flex: 1;
  }

  div.item-details {
    flex: 1;
  }

  div.item-coun {
    flex: 1;
  }
}
