* {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: lightgray;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: darkgray;
}

.header {
  background-color: #dbedff;
  height: 100px;
  padding: 0px 50px 0px 50px;
}

span#brand {
  color: white;
  font-weight: bold;
  display: inline-block;
  margin: 30px;
}

span {
  font-weight: bold;
  font-size: 12px;
}

#cart {
  position: relative;
}

#addto {
  display: inline-block;
}

div.outside {
  display: inline-block;
  margin: 5px;
  border-radius: 3px;
  margin-left: 50px;
}

div.inside {
  display: inline-block;
  width: 20px;
  height: 20px;
  padding: 6px;
  text-align: center;
  background-color: rgb(228, 228, 228);
}

div.inc {
  background-color: lightgray;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
div.dec {
  background-color: lightgray;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

@media screen and (max-width: 630px) {
  div.buttons {
    margin: 10px;
    border: 1px solid lightgray;
    display: inline-block;
    padding: 0px;
    border-radius: 8px;
  }
}
